{% if entities is empty %}
<div class="alert-danger">
    <p>
        Калькулятор цен временно не работает
    </p>
    <p>
        Стоимость посещения соляной пещеры "Соль City" можно узнать <a class="alert-link" href="https://vk.com/pages?oid=-93666360&p=%D0%A1%D0%A2%D0%9E%D0%98%D0%9C%D0%9E%D0%A1%D0%A2%D0%AC_">ВКонтакте</a> или по телефону (383) 380-90-04
    </p>
</div>
{% else %}

<script>
var base_price = {{ entities[0].price }};
var vip = {{ entities[0].vip / 100 }};
var day_price = {{ entities[0].day / 100 }};
var ev_price = {{ entities[0].evening / 100 }};
var spec_price = {{ entities[0].special / 100 }};
var hygiene = {{ entities[0].hygiene / 100 }};
var price = base_price;
var discount = 0;
var base_discount = 0;

$(document).ready(function(){

    function calcAndShow()
    {
        $("#price").text(Math.round(price * (1 - discount - base_discount)));
    }

    $("#drop_menu_hh").hide();
    calcAndShow();

    $("#hh").change(function(){
        if($(this).is(":checked")) {
            discount += hygiene;
            $("#drop_menu").hide();
            $("#drop_menu_hh").show();
        }
        else {
            discount -= hygiene;
            $("#drop_menu").show();
            $("#drop_menu_hh").hide();
        }
        $("#single").trigger("click");
    });

    $("#vip").change(function(){
        if($(this).is(":checked")) {
            discount += vip;
        }
        else {
            discount -= vip;
        }
        calcAndShow();
    });

    $("#single").click(function(){
        $("#price_time").text("");
        base_discount = 0;
        price = base_price;
        calcAndShow();
    });

    $("#day").click(function(){
        $("#price_time").text("днем, с 9 до 17");
        base_discount = day_price;
        price = base_price * 10;
        calcAndShow();
    });

    $("#evening").click(function(){
        $("#price_time").text("вечером, с 17 до 21");
        base_discount = ev_price;
        price = base_price * 10;
        calcAndShow();
    });

    $("#indiv").click(function(){
        $("#price_time").text("по индивидуальному графику, день/вечер");
        base_discount = spec_price;
        price = base_price * 10;
        calcAndShow();
    });

    $("#hhonce").click(function(){
        $("#price_time").text("1 сеанс в неделю");
        base_discount = 0;
        price = base_price * 4;
        calcAndShow();
    });

    $("#hhtwice").click(function(){
        $("#price_time").text("2 сеанса в неделю");
        base_discount = 0;
        price = base_price * 8;
        calcAndShow();
    });

});
</script>

<form class="form form-horizontal">
    <div class="checkbox checkbox-default price-checkbox">
            <input type="checkbox" id="hh"/>
            <label for="hh">
                <span class="label label-default">-{{ entities[0].hygiene }}%</span> Режим галогигиены*
            </label>
            <input type="checkbox" id="vip"/>
            <label for="vip">
                <span class="label label-info">-{{ entities[0].vip }}%</span> Есть ВИП-карта**
            </label>
    </div>
</form>

<div class="row">
    <div class="col-sm-12 col-md-6 text-center">
        <div role="tabpanel">
            <ul class="nav nav-tabs">
                <li class="fifty-width active">
                    <a id="single" aria-controls="single" role="tab" data-toggle="tab">Разовый сеанс</a>
                </li>
                <li id="drop_menu" class="fifty-width dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <span id="drop_menu">
                            Абонемент на 10 сеансов
                        </span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a id="day" aria-controls="day" role="tab" data-toggle="tab"><span class="label label-info">-{{ entities[0].day }}%</span> Днем, с 9 до 17</a></li>
                        <li><a id="evening" aria-controls="evening" role="tab" data-toggle="tab"><span class="label label-info">- {{ entities[0].evening }}%</span> Вечером, с 17 до 21</a></li>
                        <li><a id="indiv" aria-controls="indiv" role="tab" data-toggle="tab"><span class="label label-info">-{{ entities[0].special }}%</span> Индивидуальный график</a></li>
                    </ul>
                </li>
                <li id="drop_menu_hh" class="fifty-width dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <span id="drop_menu">
                            Абонемент на 1 месяц
                        </span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a id="hhonce" aria-controls="hhonce" role="tab" data-toggle="tab">1 сеанс в неделю</a></li>
                        <li><a id="hhtwice" aria-controls="hhtwice" role="tab" data-toggle="tab">2 сеанса в неделю</a></li>
                    </ul>
                </li>
            </ul>
            <div class="tab_time">
                <p><br/>для 1 взрослого или 1 ребенка до 8 лет в сопровождении 1 взрослого</p>
                <p id="price_time"></p>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active">
                    <div class="price_tag">
                        <span id="price"></span><small><span class="glyphicon glyphicon-ruble" aria-hidden="true"></span></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="well text-justify">
            <p>Ребенок до 1 года - БЕСПЛАТНО!</p>
            <p>Доплата за 2-го и каждого последующего ребенка до 8 лет - 80 руб./сеанс</p>
            <small>
                <h4>*Режим галогигиены:</h4>
                <p>
                    - После прохождения основного курса (10 сеансов) можно посещать соляную пещеру "Соль City" 1-2 раза в неделю в профилактических целях (режим галогигиены) со скидкой {{ entities[0].hygiene }}%
                </p>
            </small>
            <small>
                <h4>**Правила пользования вип-картой:</h4>
                <p>- Вип-карта предоставляет право скидки {{ entities[0].vip }}%</p>
                <p>- Вип-карта выдается после 3-х периодов посещений соляной пещеры (1 период - это 10-дневный курс или 1 месяц галогигиены)</p>
                <p>- Скидка по Вип-карте предоставляется только держателю карты</p>

            </small>
        </div>
    </div>
</div>
{% endif %}
